.home-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-balance{
    margin: 2rem;
    padding: 0 2.5rem;
    border-radius: .5rem;
    width: 36rem;
    height: 40rem;
    box-shadow:  0 10px 20px 0 rgba(0, 0, 0, 0.5) ;
}
.balance__header{
    color: var(--text-secondary);
}

.balance__number{
    text-align: right;
    color: var(--color-succes);
    font-size: 4rem;
}




.section-records{

    border-radius: .5rem;
    width: 36rem;
    height: 40rem;
    box-shadow:  0 10px 20px 0 rgba(0, 0, 0, 0.5) ;
}

.records__table{
   width: 100%;
   
}

